<!-- /*<style>
  background:
    #fff
    url(top-background.jpg)
    no-repeat
    fixed
    center center;
  background-size: cover;
 </style>*/ -->

<p id="notice"><%= notice %></p>

<h1 class="text-right"><small><%= Univ.all.size %>件の大学が登録されています</small></h1>

<br>
<%= image_tag 'icon.png'%>

<div class="row">
  <div id="custom-search-input">
      <div class="input-group col-md-12">

        <%= search_form_for @q, url:search_univs_path do |f| %>
        <div class="col-xs-11">
          <%= f.search_field :name_cont, class: "search-query form-control", placeholder: "まずは大学名で検索!" %>
        </div>
        <div class="col-xs-1">
          <%= button_tag( class: "btn btn-danger" ) do %>
          <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
          <% end %>
        </div>
        <% end %>

      </div>
    </div>
	</div>
</div>
