<p id="notice"><%= notice %></p>

<h1>まずは大学名で検索  <small><%= Univ.all.size %>件の大学が登録されています</small></h1>

<br>

<%= search_form_for @q, url:search_univs_path, class: "form-inline" do |f| %>
  <div class="box"></div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <%= f.search_field :name_cont, class: "form-control top-field", placeholder: "大学名を入力！" %> <%= f.submit "検索", class: "btn btn-default btn-lg"  %>
      </div>
    </div>
  </div>  
<% end %>