<p id="notice"><%= notice %></p>

<h1>Univs</h1>

<%= search_form_for @q, url:search_path do |f| %>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="form-group">
        <%= f.label :name_cont, '大学名' %>
        <%= f.search_field :name_cont, class: "form-control input-sm" %>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= f.submit "検索", class: "btn btn-default"  %>
      <%= link_to "リセット", request.path, class:"btn btn-default" %>
    </div>
  </div>
<% end %>

<% %>
  <hr />

<br>

<%= link_to 'New Univ', new_univ_path %>
