<div class="box-max">
  <h1 style="float:left">
    <strong><%= @univ.name %></strong>
  </h1>
  <div style="float:right">
    <%= search_form_for @q, url:search_post_path, local: true, class: 'form-inline' do |f| %>
      <%= f.hidden_field :univ, value: @univ%>
      <%= f.search_field :subject_cont, class: "form-control input-sm", placeholder: '科目名で検索' %>  <%= f.submit "検索", class: "btn btn-default" %>
    <% end%>
  </div>
</div>
<div class="row" style="clear:both;">
  <div class="col-md-8 box-max">

    <br>
    <div class="box-max" style="clear:both;">
      <h2 style="float:left">最近の質問</h2>
      <div style="float:right">
        <% if user_signed_in? %>
          <%= link_to '質問する', new_post_path(@univ.id), class: 'btn btn-primary' %>
        <% end %>
      </div>　　　
    </div>　　　　　　　　　
    <hr>
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-style">
            <% if post.title.empty? %>
              <div>
                <h5 class="panel-title panel-head-title"><%= link_to post.body.truncate(10), post_path(post) %></h5>
              </div>
            <% else %>
              <div>
                <h5 class="panel-title panel-head-title"><%= link_to post.title.truncate(10), post_path(post) %></h5>
              </div>
            <% end %>
            <div class="panel-head-subject">
              <h5 class="panel-title"><%=post.subject%></h5>
            </div>
            <div class="panel-head-icon">
              <h5 class="panel-title">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <strong><%=post.comments.size%></strong>件
              </h5>
            </div>
          </div>
        </div>
        <div class="panel-body">
         <div class="panel-style">
           <div class="panel-body-image">
             <div>
               <%= link_to image_tag(post.user.thumbnail, class: "img-thumbnail avatar"), user_path(post.user)%>
             </div>
             <div>
               <strong><%= link_to post.user.name, user_path(post.user.id) %></strong>
             </div>
           </div>
           <div class="panel-body-body">
             <p><%= post.body.truncate(50) %></p>
             <br>
             <p><small>投稿日時：<%= post.created_at %></small></p>
           </div>
         </div>
        </div>
      </div>
    <% end %>
    <%= link_to '大学情報を編集', edit_univ_path(@univ), class: 'btn btn-default' %>
    <br><br>
    </div>
    <div class="col-md-4">
      <br>
        <br><br><br><br><br><br><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">登録科目一覧</h5>
          </div>
          <ul class="list-group">
          <% @subjects.each do |subject|%>
        	  <li class="list-group-item"><%= link_to subject, filter_post_path(@univ.id, subject) %></li>
          <% end %>
          </ul>
        </div>
    </div>
  </div>
