<div class="row">
  <div class="col-md-8">
    <h1><strong><%= @univ.name %></strong></h1>
    <br>
      <h2>最近の質問　　　　　　　　　　　　　　　　
        <% if user_signed_in? %>
          <%= link_to '質問する', new_post_path(@univ.id), class: 'btn btn-primary' %>
        <% end %>
      </h2>
    <hr>
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-8"><h5 class="panel-title"><%= link_to post.title, post_path(post) %></h5></div>
            <div class="col-md-2"><h5 class="panel-title text-right"><%=post.subject%></h5></div>
            <div class="col-md-2"><h5 class="panel-title">コメント<strong><%=post.comments.size%></strong>件</h5></div>
          </div>
        </div>
        <div class="panel-body">
         <div class="row">
           <div class="col-md-2 text-center">
             <div>
               <% if post.user.image.present? %>
                 <%= link_to image_tag(post.user.image.to_s, class: "img-thumbnail avatar"), user_path(post.user) %>
               <% else %>
                 <%= link_to image_tag(post.user.thumbnail, class: "img-thumbnail avatar"), user_path(post.user) %>
               <% end %>
             </div>
             
             <strong><%= link_to post.user.name, user_path(post.user.id) %></strong>
           </div>
           <div class="col-md-10">
             <p><%= post.body %></p>
             <br>
             <p><small>投稿日時：<%= post.created_at %></small></p>
           </div>
         </div>
        </div>
      </div>
    <% end %>
    <%= link_to '大学情報を編集', edit_univ_path(@univ), class: 'btn btn-default' %>
    <br><br>
    </div>
    <div class="col-md-4">
      <br>
      <%= search_form_for @q, url:search_post_path, local: true, class: 'form-inline' do |f| %>
        <%= f.hidden_field :univ, value: @univ%>
        <%= f.search_field :subject_cont, class: "form-control input-sm", placeholder: '科目名で検索！' %>  <%= f.submit "検索", class: "btn btn-default" %>
      <% end%>
        <br><br><br><br><br><br><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">登録科目一覧</h5>
          </div>
          <ul class="list-group">
          <% @subjects.each do |subject|%>
        	  <li class="list-group-item"><%= link_to subject, filter_post_path(@univ.id, subject) %></li>
          <% end %>
          </ul>
        </div>
    </div>
  </div>
