<h1>
  <% if @query!='' %>
    <strong><%= @query%></strong>での<% end %>検索結果　　<small><%= @posts.all.size %>件の質問がヒットしました</small>
</h1>
<hr>

<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
     <h5 class="panel-title"><%= link_to post.title, post_path(post) %> 　　（ <%=post.subject%> ）</h5>
    </div>
    <div class="panel-body">
     <div class="row">
       <div class="col-md-1">
         <%= link_to image_tag(post.user.thumbnail, class: "img-thumbnail", size: '60x60'), user_path(post.user)%>
         <strong><%= link_to post.user.name, user_path(post.user.id) %></strong>
       </div>
       <div class="col-md-11">
         <p><%= post.body %></p>
         <br>
         <p><small>投稿日時：<%= post.created_at %></small></p>
       </div>
     </div>
    </div>
  </div>
  <hr>
<% end %>