<h1><%= link_to @post.univ.name, @post.univ, class: ''%></h1>
<hr>
<br><br>

<!-- <div class="p-bottom"> -->

<!-- 質問 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <h4 class="panel-title">
        <div class="col-xs-10">
          <%= @post.title %>
            (<%=@post.subject%>)
        </div>
        <div class="col-xs-2">
          <% if @is_own_post%>
          <%= link_to '質問を編集', edit_post_path(@post), class: "btn btn-default" %>
          <% end %>
        </div>
      </h4>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" style="text-align:center;">
        <div>
          <% if @post.user.image.present? %>
            <%= link_to image_tag(@post.user.image.to_s, class: "img-thumbnail avatar"), user_path(@post.user) %>
          <% else %>
            <%= link_to image_tag(@post.user.thumbnail, class: "img-thumbnail avatar"), user_path(@post.user) %>
          <% end %>
        </div>
        <div>
          <strong><%= link_to @post.user.name, user_path(@post.user) %></strong>
        </div>
      </div>
      <div class="col-md-10">
        <p><%= simple_format(@post.body) %></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-offset-1 col-md-2">
        <a href="javascript:void(0)" onclick="show_block(); return false;">
          <i class="fa fa-reply fa-2x"></i>
        </a>
        </span>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <%= @post.created_at %>
      </div>
    </div>
  </div>
</div>
<!-- 回答用フォーム -->
<div id="hoge" style="display: none">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">回答</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2" style="text-align:center;">
        <% if user_signed_in? %>
          <div>
            <% if current_user.image.present? %>
              <%= link_to image_tag(current_user.image.to_s, class: "img-thumbnail avatar"), user_path(current_user)%>
            <% else %>
              <%= link_to image_tag(current_user.thumbnail, class: "img-thumbnail avatar"), user_path(current_user)%>
            <% end %>
          </div>
          <div>
            <strong><%= link_to current_user.try(:name), user_path(current_user)%></strong>
          </div>
        <% else %>
          <%= image_tag 'thumbnails/default.png', class: "img-thumbnail avatar" %>
        <p>
          <small>名無しさん</small>
        </p>
        <% end %>
      </div>
      <div class="col-md-10">
        <%= form_with model: @comment, url: comments_path do |f| %>
        <%= f.hidden_field :post_id %>
        <%= f.hidden_field :user_id%>
        <div class="form-group">
          <%= f.label :body  %><br/>
          <%= f.text_field :body, class: "form-control" %>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <%= f.submit '回答を送信', class: "btn btn-default" %>
          </div>
          <div class="col-md-4">
            <a href="" onclick="hide_block(); return false;" class="btn btn-default">フォームを閉じる</a>
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<hr>
<br>
<!-- 回答一覧 -->
<% @comments.each_with_index do |comment, i|%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">回答<%=i+1%></h4>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-1 text-center">
        <% if comment.user.nil? %>
          <%= image_tag 'thumbnails/default.png', class: "img-thumbnail" %>
          <p>
          <small>名無しさん</small>
          </p>
        <% else %>
          <% if comment.user.image.present? %>
            <%= link_to image_tag(comment.user.image.to_s, class: "img-thumbnail avatar"), user_path(comment.user)%>
          <% else %>
            <%= link_to image_tag(comment.user.thumbnail, class: "img-thumbnail avatar"), user_path(comment.user)%>
          <% end %>
          <strong><%= link_to comment.user.try(:name), user_path(comment.user)%></strong>
        <% end %>
      </div>
      <div class="col-md-11">
        <p><%= simple_format(comment.body) %></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-xs-offset-1 col-md-2">
        <%= render partial: 'comments/comments', locals: { comment: @komento.find(comment.id) } %>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <%= comment.created_at %>
      </div>
    </div>
  </div>
</div>
<% end%>
