<!DOCTYPE html>
<html>
  <head>
    <title>Qampus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <footer id="footer" class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
    <script type="text/javascript" src="./footerFixed.js"></script>

  </head>

  <body>
    <%= render partial: 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
